#addSupplier-form1{
    border-radius: 5px;
    background-color: #ffff;
    padding: 20px;
    width: 25cm;
    
}
#addSupplier-viewtable{
    width: 35cm;
    margin-left: 1.5cm;
}
#addSupplier-btn1{
    text-align: center;
    margin-left: 10cm;
    width: 3.5cm;
}
#addSupplier-viewtable2{
    width: 35cm;
    margin-left: 1.5cm;
}
#addSupplier-links{
    width: 1cm;
    height: 1cm;
}